<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="onCloseClick()"></button>
</div>
<div class="modal-body">
<!--  <mat-form-field>-->
<!--    <input matInput [(ngModel)]="data.Department">-->
<!--    <input matInput [(ngModel)]="data.FullName">-->
<!--    <input matInput [(ngModel)]="data.BirthDate">-->
<!--    <input matInput [(ngModel)]="data.DateOfEmployment">-->
<!--    <input matInput [(ngModel)]="data.Wages">-->
<!--  </mat-form-field>-->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onSaveClick()">Сохранить</button>
</div>
